In [ ]:
#Importing libraries needed throughout the notebook
#To get list of files to be loaded
import glob
#To load the csv's into a dataframe and manipulate data
import pandas as pd

In [ ]:
Meta_df = pd.DataFrame(columns=['code','name','latitude','longitude'])

In [ ]:
#Loading all the datasets
Meta_df=[]
Data_df=[]
for filename in glob.iglob('Dataset/**/*.csv', recursive=True):
    #This a check used to identify a meta-data file
    temp=pd.read_csv(filename)
    if("Stations" in filename):
        Meta_df.append(temp)
    else:
        Data_df.append(temp)

#Used to concat all the csv's together as a single dataframe
Meta_df=pd.concat(Meta_df)
Data_df=pd.concat(Data_df)

In [ ]:
#This will drop all the duplicates as stations are repeated
#Using keep='last' so that lates data about the station is preserved
Meta_df=Meta_df.drop_duplicates(subset='code',keep ='last')

In [ ]:
#Merging the two dataframes using a left join so that all information is self contained in one df
Meta_df_start=Meta_df.rename(index=str, columns={
    "code": "code_start", "name": "name_start","latitude":"latitude_start","longitude":"longitude_start"})
Meta_df_end=Meta_df.rename(index=str, columns={
    "code": "code_end", "name": "name_end","latitude":"latitude_end","longitude":"longitude_end"})
result=Data_df.merge(Meta_df_start, left_on='start_station_code', right_on='code_start', how='left')
result=result.merge(Meta_df_end, left_on='end_station_code', right_on='code_end', how='left')

In [35]:
#Dropping unnecessary columns
result = result.drop(['code_start','code_end'], 1)
result.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member,name_start,latitude_start,longitude_start,name_end,latitude_end,longitude_end
0,2014-04-15 00:01,6209,2014-04-15 00:18,6436,1061,1,Milton / Clark,45.512520,-73.570620,Côte St-Antoine / Clarke,45.486452,-73.595234
1,2014-04-15 00:01,6214,2014-04-15 00:11,6248,615,1,Square St-Louis,45.517350,-73.569060,St-Dominique / Rachel,45.518593,-73.581566
2,2014-04-15 00:01,6164,2014-04-15 00:18,6216,1031,1,Chambord / Laurier,45.532955,-73.584194,Parc Jeanne Mance (monument à sir George-Étien...,45.514960,-73.585030
3,2014-04-15 00:01,6214,2014-04-15 00:24,6082,1382,1,Square St-Louis,45.517350,-73.569060,6e avenue / Rosemont,45.550613,-73.582883
4,2014-04-15 00:02,6149,2014-04-15 00:08,6265,347,1,Chapleau / du Mont-Royal,45.538670,-73.569360,Parthenais / St-Joseph,45.538544,-73.576133